* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #111111;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../img/backgroundgame.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.bgImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: 1;
}

.mainContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.teclas {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  background-color: rgba(33, 0, 71, 0.401);
}

.teclasContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: flex-end;
}

.teclasContainer button {
  background-color: rgba(117, 110, 161, 0);
  margin: 0 0.5rem 0.5rem 0.5rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 400;
  border: 0.2rem solid rgba(117, 110, 161, 1);
  z-index: 1;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

#playPauseBtn {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 26px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
}

.column {
  width: 32.5%;
}

.columnCenter {
  position: relative;
  display: flex;
  width: 35%;
}

.lifebar {
  position: absolute;
  transform: translateX(-100%);
  display: flex;
  height: 100%;
  align-items: flex-end;
}

.size {
  height: 80%;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.lifebar img {
  height: 100%;
  border-radius: 2rem 0 0 0;
  border-left: 0.2vw #a270ff solid;
  border-top: 0.2vw #a270ff solid;
  z-index: 6;
}

.lifebar svg {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 7;
  transform: rotate(-25deg);
}

.lifeBack {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #292929;
  z-index: 4;
  border-radius: 2rem 0 0 0;
}

.life {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2rem 0 0 0;
  background: linear-gradient(180deg, #ff6b6b, #f7d94e, #6bff6b, #6bb3ff);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  z-index: 5;
  overflow: hidden;
  transition: height 0.5s ease;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.path {
  width: 25%;
  height: 100vh;
  border: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0;
  padding: 0;
}

.path1 {
  border-left: 0.5vw #a270ff solid;
}

.path4 {
  border-right: 0.5vw #a270ff solid;
}

.circlePath1 {
  background-color: #c8a2c8;
}

.circlePath2 {
  background-color: rgb(192, 255, 140);
}

.circlePath3 {
  background-color: rgb(192, 255, 140);
}

.circlePath4 {
  background-color: #c8a2c8;
}

.circlePathExtra {
  background-color: rgb(192, 255, 140);
  box-shadow: inset 0 0 20px 10px #a270ff84;
  width: 100% !important;
  border-radius: 3rem !important;
}

.circle {
  position: absolute;
  top: -6rem;
  margin-bottom: 0.5rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  z-index: 2;
  animation: Bajarabajo 1s linear;
}

@keyframes Bajarabajo {
  from {
    top: -6rem;
  }

  to {
    top: calc(100% + 6rem);
  }
}

.countBg {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.504);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);

  h1 {
    color: white;
  }
}

.inicio {
  font-size: 10em;
  background: linear-gradient(0.5turn, rgb(185, 18, 215) 20%, rgb(18, 34, 141) 70%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pointsContainer {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 20%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pointIcon {
  display: flex;
  justify-content: center;
  object-fit: fill;
  width: 55%;
  height: 50%;
  margin-left: 0.3rem;
  animation: appear-from-center 0.2s;
}

.combo {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: clamp(3rem, 1.9vw, 3.5rem);
  font-weight: 400;
  background: linear-gradient(to bottom, violet, indigo, blue, green, yellow, orange, red);
  text-shadow: 0 0 10px rgb(242, 3, 255);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes appear-from-center {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.marcoLeft {
  transform: rotate(-20deg);
  height: 25%;
  position: absolute;
  z-index: 15;
  top: 60%;
  left: 30%;
  z-index: 6;
}

.marcoRight {
  transform: rotate(30deg);
  height: 25%;
  position: absolute;
  z-index: 15;
  top: 2%;
  left: 62%;
}

.great {
  background-color: white !important;
  color: white !important;
  background: transparent !important;
  text-shadow: 0 0 0 !important;
  background-clip: text !important;
  -webkit-text-fill-color: white !important;
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bgImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: 1;
}

.siteContainer {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  flex-direction: column;
  justify-content: space-between;
}

header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  display: flex;
  font-family: "Inter", sans-serif;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), #000000);
  width: 100%;
  box-sizing: border-box;
  height: 12%;
}

nav {
  display: flex;
  align-items: center;

  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

nav img {
  max-width: 25%;
  filter: drop-shadow(0px 0px 10px #6e00ee);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.navItems {
  width: max-content;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: max-content;
  height: 100%;
  box-sizing: border-box;
}

nav img:hover {
  scale: 1.03;
  cursor: pointer;
}

.navItems button {
  color: white;
  font-size: clamp(1rem, 2vw, 2.5rem);
  text-shadow: 0px 0px 15px #6e00ee;
  width: 14vw;
  height: 6vh;
  margin: 2%;
  box-sizing: border-box;
  border: 0rem solid rgba(0, 0, 0, 0);
  background: none;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navItems button:hover {
  border: 0.1rem solid #6e00ee;
  cursor: pointer;
}

button.login-btn {
  background-color: #6e00ee;
  border-radius: 40px;
}

.login-btn:hover {
  scale: 1.05;
}

.mainContainer {
  height: calc(100vh - 12%);
  display: flex;
  align-content: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

.mainContainer hr {
  border-color: #ff00e6;
  width: 0.2rem;
  background-color: #ff00e6;
}

.mainIzquierdo {
  height: calc(100vh - 12%);
  display: flex;
  align-content: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.supremevictory {
  background-image: url("../img/supremevictory.webp");
  background-size: cover;
  width: 100%;
  height: 100%;
}
.supremelose {
  background-image: url("../img/losescreen.webp");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.supremesecret {
  background-image: url("../img/image.webp");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.bigBtn {
  left: -5rem;
  font-family: "Monoton";
  font-size: 3rem;
  color: #eaeaea;
  text-shadow: 0px 0px 3rem #6e00ee;
  padding: 0 0 0 5rem;
  margin: 0.5rem 0;
  height: 0px;
  border-top: solid 0px transparent;
  border-right: solid 70px transparent;
  border-bottom: solid 80px #090404c9;
  border-left: solid 0px transparent;
  transition: transform 0.3s;
  position: relative;
}

.size1 {
  width: 50rem;
}

.size2 {
  width: 45rem;
}

.size3 {
  width: 40rem;
}

.size4 {
  width: 25rem;
}

.bigBtn:hover {
  transform: translateX(5rem);
}

.iconos {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 3%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px 0 0 30px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  color: white;
  transition: transform 0.3s;
  transform: scale(1);
}

.icon:hover {
  transform: scale(1.1);
}

#instagram {
  background-image: url("../img/facebook.webp");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

#x {
  background-image: url("../img/x.webp");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

#facebook {
  background-image: url("../img/instagram.webp");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

/* Hagan paso al codigo trucho pa poner las notas en sus posiciones, desgraciadas nojoas yo las hice si me desobedecen tan muertas noticas*/

.nota-1 {
  position: absolute;
  top: -30%;
  left: 0%;
  width: 28%;
  height: 120%;
  object-fit: fill;
  transform: rotate(30deg);
  opacity: 0.3;
  z-index: 1;
  animation: nota1 5s ease-in-out infinite;
}

.nota-2 {
  position: absolute;
  top: 20%;
  left: 22%;
  width: 20%;
  height: 80%;
  object-fit: fill;
  transform: rotate(16deg);
  opacity: 0.3;
  z-index: 1;
  animation: nota2 5s ease-in-out infinite;
}
.nota-3 {
  position: absolute;
  top: -19%;
  left: 40%;
  width: 28%;
  height: 100%;
  object-fit: fill;
  transform: rotate(-39deg);
  opacity: 0.3;
  z-index: 1;
  animation: nota3 5s ease-in-out infinite;
}
.nota-4 {
  position: absolute;
  top: 10%;
  left: 65%;
  width: 28%;
  height: 100%;
  object-fit: fill;
  transform: rotate(30deg);
  opacity: 0.3;
  z-index: 1;
  animation: nota4 5s ease-in-out infinite;
}

/*Animaciones de notas flotando*/

@keyframes nota1 {
  0% {
    transform: rotate(30deg) translateX(0);
  }
  50% {
    transform: rotate(30deg) translateX(10px);
  }
  100% {
    transform: rotate(30deg) translateX(0);
  }
}

@keyframes nota2 {
  0% {
    transform: rotate(16deg) translateY(0) translateX(0);
  }
  50% {
    transform: rotate(16deg) translateY(-20px) translateX(5px);
  }
  100% {
    transform: rotate(16deg) translateY(0) translateX(0);
  }
}

@keyframes nota3 {
  0% {
    transform: rotate(-39deg) translateY(0) translateX(0);
  }
  50% {
    transform: rotate(-39deg) translateY(-10px) translateX(-5px);
  }
  100% {
    transform: rotate(-39deg) translateY(0) translateX(0);
  }
}

@keyframes nota4 {
  0% {
    transform: rotate(30deg) translateY(0) translateX(0);
  }
  50% {
    transform: rotate(30deg) translateY(-20px) translateX(10px);
  }
  100% {
    transform: rotate(30deg) translateY(0) translateX(0);
  }
}

/*  Estilos para la tabla de puntuacion */

.resultsMain {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  width: 90%;
  height: 75%;
  background-image: url("../img/puntuacion3.webp");
  background-size: cover;
  border-radius: 0 0 3rem 0;
  box-shadow: 1rem 0 2rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 40px 60px 12px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.musicName {
  font-size: 1.5rem;
  position: absolute;
  top: 1%;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.musicName p{
  animation: movertexto 6s linear infinite;
}

@keyframes movertexto {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(100%);
  }
}

.resultsMain h2 {
  text-shadow: 0 0 20px rgba(216, 200, 19, 0.49);
}

.resultsMain hr {
  border-color: #a303ff;
  margin: 1rem;
}

.puntuacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.puntuacion hr {
  width: 30rem;
}

.puntuacion span {
  font-size: 20px;
}

.puntuacion2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.puntuacion2 hr {
  width: 15rem;
}

.notas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hits {
  display: flex;
  flex-direction: column;
}

.notas img {
  width: 5rem;
}

.precision {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aling {
  position: relative;
  height: 50px;
  width: 400px;
  z-index: 5;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.allperfect {
  position: absolute;
  top: 0%;
  background: linear-gradient(0.505turn, violet 20%, rgb(89, 18, 141) 44%, rgb(3, 47, 176) 55%, rgb(4, 162, 193) 70%, rgb(6, 223, 132) 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  letter-spacing: -0.05em;
}

.fullcombo {
  position: absolute;
  top: 0%;
  background: linear-gradient(0.5turn, violet 20%, rgb(89, 18, 141) 70%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.youlost {
  position: absolute;
  top: 0%;
  background: linear-gradient(0.5turn, rgb(213, 29, 29) 20%, rgb(141, 18, 110) 70%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.goodcombo {
  position: absolute;
  top: 0%;
  background: white;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.back {
  position: absolute;
  top: 0%;
  background: transparent;
  z-index: -5;
  text-shadow: 0 0 20px rgba(216, 200, 19, 0.49);
}

/* Animacion de Llegada al menu resultado */

.mainIzquierdo,
.mainDerecho {
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.mainIzquierdo {
  animation-name: slideInLeft;
}

.mainDerecho {
  animation-name: slideInRight;
}

/* Definición de las animaciones */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.allperfect {
  position: absolute;
  top: 0%;
  background: linear-gradient(0.505turn, violet 20%, rgb(89, 18, 141) 44%, rgb(3, 47, 176) 55%, rgb(4, 162, 193) 70%, rgb(6, 223, 132) 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  letter-spacing: -0.05em;
}

.back {
  position: absolute;
  top: 0%;
  background: transparent;
  z-index: -5;
  text-shadow: 0 0 20px rgba(216, 200, 19, 0.49);
}

.fullcombo {
  position: absolute;
  top: 0%;
  background: linear-gradient(0.5turn, violet 20%, rgb(89, 18, 141) 70%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.loadingFrame{
  position: absolute;
  background-color: #111111;
  width: 100%;
  height: 100%;
  z-index: 17;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loadingFrame svg {
  width: 80px;
  height: 80px;
}

.loadingFrame img {
  width: 420px;
  height: auto;
}

.hold-note {
    position: absolute;
    top: -6rem;
    margin-bottom: 0.5rem;
    width: 6rem;
    z-index: 2;
    animation: Bajarabajo 1s linear;
}

.hold-note-start {
    height: 6rem;
    border-radius: 0 0 50% 50%;
    background-color: #ff6b6b;
}

.hold-note-middle {
    height: 16rem;
    border-radius: 0;
    background-color: #ff6b6b;
    top: -12rem; /* Para que se conecte con la anterior */
}

.hold-note-end {
    height: 6rem;
    border-radius: 50% 50% 0 0;
    background-color: #ff6b6b;
    top: -18rem; /* Para que se conecte con la anterior */
}

/* Efecto cuando se está manteniendo una nota larga */
.teclasContainer button[data-holding-note] {
    background-color: #6054bd !important;
    box-shadow: 0 0 20px 5px rgb(19, 47, 255), inset 0 0 20px 5px rgb(19, 47, 255) !important;
}